@use "../base/colors" as *;
@use "../base/typography" as *;

.edit-card {
  .card__image {
    padding: 2px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .edit-card__image {
    display: inline-block;
    position: relative;
    overflow: hidden;

    align-items: center;
    .btn-upload {
      background-color: hsla(0, 0%, 100%, 0.05);
      border: 2px solid rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      font-size: 12px;
      padding: 5px;
      display: flex;
    }
    input[type="file"] {
      left: 0;
      top: 0;
      opacity: 0;
      position: absolute;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .edit-card__set--position {
    display: flex;
    flex-direction: column;
    align-items: center;
    .edit-card__name {
      background-color: rgba(255, 255, 255, 0.05);
      margin-top: 20px;
      width: 350px;
      height: 30px;
      border-radius: 5px;
      border: 2px solid white;
      color: white;
      padding: 10px;
      &:focus {
        outline: 2px solid #198cbd;
        border: none;
      }
    }
    .edit-card__short-description {
      background-color: rgba(255, 255, 255, 0.05);
      margin-top: 20px;
      margin-bottom: 20px;
      width: 350px;
      height: 30px;
      border-radius: 5px;
      border: 2px solid white;
      &:focus {
        outline: 2px solid #198cbd;
        border: none;
      }
    }
    .tox-edit-area__iframe {
      background-color: rgba(255, 255, 255, 0.5) !important;
    }
    .tox-tinymce {
      width: 350px !important ;
      border: 2px solid #ffffff;
    }
    .tox-mbtn__select-label {
      color: #198cbd;
      font-size: 12px;
    }
  }

  .edit-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;

    .btn-save {
      text-align: center;
      padding: 5px;
      font-weight: 400;
      width: 150px;
      height: 50px;
      font-family: $paragraph-font;
      color: white;
      font-size: 12px;
      background-color: #198cbd;
      border: 2px solid #198cbd;

      &:hover {
        color: #198cbd;
        border: 2px solid #198cbd;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .btn-delete {
      text-align: center;
      padding: 5px;
      font-weight: 400;
      width: 150px;
      height: 50px;
      font-family: $paragraph-font;
      color: white;
      font-size: 12px;
      background-color: #f0072c;
      border: 2px solid #f0072c;

      &:hover {
        color: #f0072c;
        border: 2px solid #f0072c;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}
