@use "../base/colors" as *;
@use "../base/typography" as *;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  width: 100%;
  display: flex;
  position:relative;
    margin-bottom: 70px;
    .input-search {
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid white;
    color: white;
    padding: 10px;
    font-size: 12px;
    font-family: $paragraph-font;
    border-radius :5px;
    width: 170px;
    height: 30px;
    position: absolute;
    right: 20px;
    top:100px;

    &:focus {
      outline: 2px solid #198cbd;
      border: none;} 
}}

.card {
  width: 300px !important;
  height: 525px;
    p {
      overflow:hidden;
    }

    .card__description {
      height: 175px;
    }

    .card_button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 150px;
      height: 45px;
      outline: none;
      color: white;
      background-color: #198cbd;
      border: none;
      cursor: pointer;
      font-family: $paragraph-font;

      &:hover {
        color: #198cbd;
        border: 2px solid #198cbd;
        background-color: transparent;
      }
    }
}

.container-btn-create{   
    display: flex;
    justify-content: center;
    margin: 20px;

.btn-create{
    text-align: center;
    padding: 5px;
    font-weight: 400;
    font-family: $paragraph-font;
    color: white;
    font-size: 14px;
    padding:20px;
    background-color: #198cbd;
    border: 2px solid #198cbd;
    

    &:hover {
      color: #198cbd;
      border: 2px solid #198cbd;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 768px) {.index__main-content{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:5px;
  grid-auto-rows: minmax(100px, 1fr);
}}
@media only screen and (min-width:1280px){
.index__main-content{
    margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:5px;
  grid-auto-rows: minmax(100px, 1fr);
}}

