@use "../base/colors" as *;
@use "../base/typography" as *;

body {
  background: $linear-value;
  header {
    .fa-arrow-left {
      color: white;
      font-size: 50px;

    }
    h1 {
      color: white;
      text-align: center;
      font-family: $heading-font;
      border-bottom: 2px solid white;
      margin: 20px;
    }
  }

  main {
    .card {
      border-radius: 15px;
      background-color: rgba(255, 255, 255, 0.05);
      width: 370px;
      max-width: 370px;
      padding: 20px;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 40px;

      &__image {
        width: 150px;
        border-radius: 50%;
        display: flex;
        margin: auto;
      }

      .card__name {
        color: white;
        text-align: center;
        font-family: $heading-font;
        margin: 20px;
         &:hover{
        cursor: pointer;
      }
      }

      &__short-description {
        color: white;
        text-align: center;
        font-weight: 100;
        font-size: 10px;
        font-family: $paragraph-font;
      }

      &__description {
        color: white;
        text-align: justify;
        margin: 20px;
        font-family: $paragraph-font;
      }

      .edit-buttons {
        display: flex;
        justify-content: center;
        .btn-update {
          background-color: transparent;
          border-radius: 20px;
          position: relative;
          text-align: center;
          padding: 10px;
          position: relative;
          color: #198cbd;
          border: 2px solid #198cbd;
          font-weight: 400;
          margin: 20px;
          font-family: $paragraph-font;
          &:hover {
            color: white;
            background-color: #198cbd;
            border: none;
            cursor: pointer;
          }
        }
        .btn-delete {
          background-color: transparent;
          border-radius: 20px;
          position: relative;
          text-align: center;
          padding: 10px;
          position: relative;
          color: #f0072c;
          border: 2px solid #f0072c;
          font-weight: 400;
          margin: 20px;
          font-family: $paragraph-font;
          &:hover {
            color: white;
            background-color: #f0072c;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
